@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #2c3855;
  --primary-color-dark: #435681;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.header__container {
    padding: 1rem 1rem 5rem 1rem;
  }
  
  .header__image__container {
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(
        to right,
        rgba(44, 56, 85, 0.9),
        rgba(100, 125, 187, 0.1)
      ),
      url("assets/img/carousel1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
  }
  
  .header__content {
    max-width: 600px;
    padding: 5rem 2rem;
  }
  
  .header__content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white);
  }
  
  .header__content p {
    color: var(--extra-light);
  }
  
  .booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .booking__container form {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .booking__container .input__group {
    width: 100%;
    position: relative;
  }
  
  .booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
  }
  
  .booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
  }
  
  .booking__container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
  }
  
  .booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
  }
 
  .booking__container .btn {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .booking__container .btn:hover {
    background-color: var(--primary-color-dark);
  }


  .table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

.table td, .table th {
    vertical-align: middle;
}

.text-success {
    color: #28a745 !important;
}

.text-info {
    color: #17a2b8 !important;
}

.text-danger {
    color: #dc3545 !important;
}

button.btn {
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}


/* LOGIN */ 

.form-login {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-login .btn-primary {
  width: 100%; /* Hace que el botón ocupe todo el ancho del contenedor */
  height: 40px; /* Ajusta la altura del botón */
}
/* FIN LOGIN */ 


.form-sistema {
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-sistema .btn-primary {
  width: 60%; /* Hace que el botón ocupe todo el ancho del contenedor */
  height: 40px; /* Ajusta la altura del botón */
}



/*CUENTAEDITR.HTML*/
.card {
  border-radius: 8px;
}

.card-header {
  border-bottom: 1px solid #e0e0e0;
}

.btn {
  border-radius: 4px;
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}


















/* NAVBAR */
.navbar-logo-img {
  max-width: 55px;
  height: auto; 
} 

.logochilestay{
  max-width: 55px;
  height: auto; 
}



/*CARDS*/
:root {
    --bs-primary:#1B3C5F; /* Cambia el color primario de Bootstrap */
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
}

.btn-primary:hover {
    --bs-btn-bg:  #1B3C5F; ; /* Cambia el color de fondo al pasar el ratón */
    --bs-btn-border-color:  #1B3C5F; ; /* Cambia el color del borde al pasar el ratón */
}




/*PRESENTACION*/
#sectionpresentacion .col-lg-6:first-child img {
    width: 90%;
}

#sectionpresentacion {
    color: #682525;
    padding-bottom: 40px;
   /* padding-top: ; arriba padding*/
}


/*MAPA*/

















/*Politica & Privacidad*/




/*CALENDARIO*/






/*FOOTER*/

.footer {
    background-color: var(--extra-light);
  }
  
  .footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 5rem;
  }
  
  .footer__col h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .footer__col p {
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer__col p:hover {
    color: var(--text-dark);
  }
  
  .footer__bar {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: right;
    overflow: hidden;
  }
  
  .footer__bar::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 28rem;
    transform: translateY(-50%);
    width: 20rem;
    height: 2px;
    background-color: var(--text-light);
  }
  
  @media (width < 900px) {
    .booking__container form {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .popular__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    .client__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (width < 600px) {
    .nav__links {
      display: none;
    }
  
    .header__container {
      padding-bottom: 25rem;
    }
  
    .booking__container {
      flex-direction: column;
      bottom: -25rem;
    }
  
    .booking__container form {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .popular__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .client__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .footer__container {
      gap: 2rem;
    }
  }
  